<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vaiotech.myschool" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/firaneo_big"
        android:label="@string/app_name"
        android:theme="@style/myTheme" >
        <activity
            android:name="com.vaiotech.schoolmate.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vaiotech.schoolmate.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.vaiotech.schoolmate.MenuHomeActivity"
            android:label="@string/title_activity_menu_home" >
        </activity>
        <activity
            android:name="com.vaiotech.schoolmate.LoginDetailsActivity"
            android:label="@string/title_activity_login_details" >
        </activity>
        <activity
            android:name="com.vaiotech.schoolmate.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.vaiotech.schoolmate.AdmisionActivity"
            android:label="@string/title_activity_admision" >
        </activity>
        <activity
            android:name="com.vaiotech.schoolmate.CalendarActivity"
            android:label="@string/title_activity_calendar" >
        </activity>
        <activity
            android:name="com.vaiotech.schoolmate.SchoolTimingActivity"
            android:label="@string/title_activity_school_timing" >
        </activity>
        <activity
            android:name="com.vaiotech.schoolmate.BusTimingActivity"
            android:label="@string/title_activity_bus_timing" >
        </activity>
        <activity
            android:name="com.vaiotech.schoolmate.NewsAndEventsActivity"
            android:label="@string/title_activity_news_and_events" >
        </activity>
        <activity
            android:name="com.vaiotech.schoolmate.CareerActivity"
            android:label="@string/title_activity_career" >
        </activity>
        <activity
            android:name="com.vaiotech.schoolmate.FeesActivity"
            android:label="@string/title_activity_fees" >
        </activity>
        <activity
            android:name="com.vaiotech.schoolmate.FacultyActivity"
            android:label="@string/title_activity_faculty" >
        </activity>
        <activity
            android:name="com.vaiotech.schoolmate.ContactUsActivity"
            android:label="@string/title_activity_contact_us" >
        </activity>
        <activity
            android:name="com.vaiotech.schoolmate.AboutUsActivity"
            android:label="@string/title_activity_about_us" >
        </activity>

        <service
            android:name="com.vaiotech.services.RestService"
            android:exported="false" />

        <activity
            android:name="com.vaiotech.schoolmate.TimeTableActivity"
            android:label="@string/title_activity_time_table" >
        </activity>
        <activity
            android:name="com.vaiotech.schoolmate.DailyTimeTableActivity"
            android:label="@string/title_activity_daily_time_table" >
        </activity>
        <activity
            android:name="com.vaiotech.schoolmate.StudentAttendanceActivity"
            android:label="@string/title_activity_student_attendance" >
        </activity>
        <activity
            android:name="com.vaiotech.schoolmate.StudentFacultyInfoActivity"
            android:label="@string/title_activity_student_faculty_info" >
        </activity>
        <activity
            android:name="com.vaiotech.schoolmate.ResultsActivity"
            android:label="@string/title_activity_results" >
        </activity>
        <activity
            android:name="com.vaiotech.schoolmate.ResultDetailsActivity"
            android:label="@string/title_activity_result_details" >
        </activity>
        <activity
            android:name="com.vaiotech.schoolmate.SubjectResultActivity"
            android:label="@string/title_activity_subject_result" >
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity"/>
    </application>

</manifest>
